[defaults]
# Inventaire par défaut
inventory = ./inventories/hosts.yml

# Désactive la vérification des clés SSH
host_key_checking = False

# Parallélisation des tâches. Fork = nombre de processus parallèles pour l'exécution des tâches.
forks = 20

# Timeout de connexion SSH
timeout = 30

# Utilise le cache des facts
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 7200

# Roles path
roles_path = ./roles

# Logs
log_path = ./ansible.log

# Coloration des outputs
force_color = True

[ssh_connection]
# Accélère les transferts SSH
pipelining = True

# Réutilise les connexions SSH
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# Timeout plus court pour SSH
control_path_dir = /tmp/ansible-ssh
